@model IEnumerable<MachineAssignment.Models.Category>

@{
    ViewData["Title"] = "Index";
}

@*@{
    Layout = "./Views/Shared/_Layout.cshtml";
}*@

<h1>Index</h1>

<p>
    <a class="btn btn-secondary" asp-action="AddCategory">Add Category</a>
</p>
<table class="table" id="excelConvert">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="EditCategory" asp-route-id="@item.Id">Edit</a> |
                    <a class="btn btn-info" asp-action="CategoryDetails" asp-route-id="@item.Id">Details</a> |
                    <a class="btn btn-danger" asp-action="DeleteCategory" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
